/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Noto Sans Tc', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// 以上為清除網頁預設格式的設定



$backgroundColor: green; //變數宣告因為逐行讀取特性需先完成宣告後呼叫
$fontsize: 1rem;




@mixin flexbox($direction:row,$wrap:wrap){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

section.container {
    display: flex;
}

section {
    &.left {
        padding: 1rem;

        p {
            line-height: 1.5rem;
            margin-bottom: 1rem;
        }

        div.links1 {
            ul {
                @include flexbox(row,nowrap);
                li{
                    $width:500px;

                    width: ($width/2);
                }

                a{
                    font-size: 1em*3; 
                }
            }
        }

        div.links2 {
            ul {
                @include flexbox();
            }
        }

    }

    &.right {
        p {
            line-height: 1.5rem;
            margin-bottom: 1rem;
        }

        h5 {
            font-size: 1rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        iframe {
            border: 1px solid red;
            border-radius: 10px;
        }
    }


}